{% include 'partials/header.twig' %}

HOME.TWIG

<html>
<head>
	<title>App Name - {% block title %}Название сайта - {% endblock %}</title>
</head>
<body>
{% block sidebar %}
	This is the master sidebar.
{% endblock %}

<div class="container">
	{% block content %}Блок "CONTENT"{% endblock %}
</div>
</body>
</html>


{% include 'partials/footer.twig' %}


{#{% include 'partials/header.twig' %} - при extends нельзя использовать#}
{#{% extends "layouts/app.blade.php" %}

{% block mainContent %}
	{{ parent() }}
	Some page text
{% endblock %}#}


{#
@extends('layouts.app')

@section('content')
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Dashboard</div>

                <div class="card-body">
                    @if (session('status'))
                        <div class="alert alert-success" role="alert">
                            {{ session('status') }}
                        </div>
                    @endif

                    You are logged in!
                </div>
            </div>
        </div>
    </div>
</div>
@endsection
#}
