

{% block body %}
HOME.TWIG

<html>
<head>
	<title>{% block title %}Инструмент - сайт{% endblock %}</title>


</head>
<body>
{% include 'partials/header.twig' %}

{% block sidebar %}
	This is the master sidebar.
{% endblock %}

<div class="container">
	{% block content %}
		<h2>Product List</h2>

		<div class="row">



		</div>"

		Блок "CONTENT"

	{% endblock %}
</div>
</body>
</html>


{% include 'partials/footer.twig' %}

{% endblock %}
{#{% include 'partials/header.twig' %} - при extends нельзя использовать #}
{#{% extends "layouts/app.blade.php" %}

{% block mainContent %}
	{{ parent() }}
	Some page text
{% endblock %}#}


{#
@extends('layouts.app')

@section('content')
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Dashboard</div>

                <div class="card-body">
                    @if (session('status'))
                        <div class="alert alert-success" role="alert">
                            {{ session('status') }}
                        </div>
                    @endif

                    You are logged in!
                </div>
            </div>
        </div>
    </div>
</div>
@endsection
#}
