HEADER.TWIG


<header>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% block title %}Инструмент - сайт{% endblock %}</title>

	{#Fonts#}
	<link rel="dns-prefetch" href="//fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css">


	{#Styles#}
	<link href="{{ asset('css/app.css') }}" rel="stylesheet">
	{#Latest compiled and minified CSS#}
	<link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

	{#Optional theme#}
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">


	{% if auth_guest() %}
		stuff for non-authenticated users
	{% endif %}




	<div class="header-left"><a href="/">Логотип</a></div>
	<div class="header-center">
		<ul>
			<li><a href="#">Категории</a></li>
			<li><a href="#">Блог</a></li>
		</ul>
	</div>
	<div class="header-right">
		<button>Корзина</button>
	</div>

</header>

<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-8">
			<div class="card">
				<div class="card-header">Dashboard</div>

				<div class="card-body">
					@if (session('status'))
					<div class="alert alert-success" role="alert">
						{{ session('status') }}
					</div>
					@endif

					You are logged in!
				</div>
			</div>
		</div>
	</div>
</div>
