HEADER.TWIG


<header>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% block title %}Инструмент - сайт{% endblock %}</title>

	{#Fonts#}
	<link rel="dns-prefetch" href="//fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css">


	{#Styles#}
	<link href="{{ asset('css/app.css') }}" rel="stylesheet">
	{#Latest compiled and minified CSS#}
	<link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

	{#Optional theme#}
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">


	{% if auth_guest() %}
		stuff for non-authenticated users
	{% endif %}


	<div class="row">
		<div class="col-md-3"><div class="header-left"><a href="/">Логотип</a></div></div>
		<div class="col-3"></div>
		<div class="col-3, header-right" ><a href="#">Login</a></div>
		<div class="col-3"><a href="#">Register</a></div>
	</div>

</header>

<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-8">
			<div class="card">
				<div class="card-header">Dashboard</div>

				<div class="card-body">
					{% if auth_guest() %}

					    stuff for non-authenticated users

					{% endif %}

					{% if auth_user() %}

					You are logged in!

					{% endif %}

				</div>
			</div>
		</div>
	</div>
</div>
