HEADER.TWIG
<header>

	<div class="header-left"><a href="/">Логотип</a></div>
	<div class="header-center">
		<ul>
			<li><a href="#">Категории</a></li>
			<li><a href="#">Блог</a></li>
		</ul>
	</div>
	<div class="header-right"><button>Купить</button></div>
</header>

{#{% extends '../layouts/app.blade.php' %}#}



<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Dashboard</div>

                <div class="card-body">
                    @if (session('status'))
                        <div class="alert alert-success" role="alert">
                            {{ session('status') }}
                        </div>
                    @endif

                    You are logged in!
                </div>
            </div>
        </div>
    </div>
</div>
